extends htmlHeader

block content
    
    include utilities/subChapterModal
    include utilities/exerciseModal

    span.d-none.memorySpan

    .d-flex.justify-content-between.p-3
        h1= `Chapitre ${chapter.chapterName}`
        button.btn.btn-primary.rounded(type='button' data-toggle='modal' data-target='#subChapterModal')
            i.bi.bi-plus
            i.bi.bi-book-half

    .list-group
    each subChapter in chapter.subChapterList
        .list-group-item.m-3.rounded.shadow(id=`subChapter-container-${subChapter._id}`, class=`${subChapter.access ? 'bg-success' : 'bg-secondary'}`, style='transition: 0.2s')
            .d-flex.justify-content-between
                h4.text-light= subChapter.subChapterName
                .d-flex
                    button.btn.btn-primary(class='exercise-creation-button' type='button' data-toggle='modal' data-target='#exerciseModal' data-subChapter-id=`${subChapter._id}`)
                        i.bi.bi-plus
                        i.bi.bi-pencil-square
                    .form-check.form-switch.m-0.py-0(class="subChapter_access_button", data-subChapter=`${subChapter._id}`)
                                input(id=`subChapter_access_toggle_${subChapter._id}`, type="checkbox", value="", data-toggle="toggle", data-on="Accessible", data-off="Innaccessible", data-onstyle="success", data-offstyle="danger")
                    if subChapter.access
                        script.
                            $(`#subChapter_access_toggle_#{subChapter._id}`).bootstrapToggle('on')
                    else 
                        script.
                            $(`#subChapter_access_toggle_#{subChapter._id}`).bootstrapToggle('off')            
            .list-group.p-2
                each exo, key in subChapter.exerciceList 
                    .list-group-item.border-0.rounded.mb-3.shadow
                        .d-flex.justify-content-between
                            h4= `Exercice ${key + 1}`
                            button.btn(type='button' data-toggle='collapse' data-target=`#exo-card-${exo._id}` aria-expanded='false' aria-controls='collapseExample')
                                i.bi.bi-chevron-down
                        .collapse.my-3(id=`exo-card-${exo._id}`)
                            div
                                pre
                                    code.hljs(source=`${exo.data}`, lang='javascript')= exo.data        
                                p= exo.instructions
                                pre
                                    code.hljs(source=`${exo.data}`, lang='html')= exo.solutionHTML
                                pre
                                    code.hljs(source=`${exo.data}`, lang='css')= exo.solutionCSS
                                pre
                                    code.hljs(source=`${exo.data}`, lang='javascript')= exo.solutionJS
                                pre
                                    code.hljs(source=`${exo.data}`, lang='php')= exo.solutionPHP
                                .d-flex.gap-2
                                    .form-check.form-switch.m-0.py-0(data-exo-id=`${exo._id}`, class="exo_access_button")
                                        input(id=`exo_access_toggle_${exo._id}`, type="checkbox", value="", data-toggle="toggle", data-on="🔓", data-off="🔒", data-onstyle="success", data-offstyle="warning")
                                    .form-check.form-switch.m-0.py-0(data-exo-id=`${exo._id}`, class="exo_solutionAccess_button")
                                        input(id=`exo_solution_toggle_${exo._id}`, type="checkbox", value="", data-toggle="toggle", data-on="✅", data-off="🚫", data-onstyle="success", data-offstyle="danger")
                    if exo.access
                        script.
                            $(`#exo_access_toggle_#{exo._id}`).bootstrapToggle('on')
                    else 
                        script.
                            $(`#exo_access_toggle_#{exo._id}`).bootstrapToggle('off')
                    if exo.solutionAccess
                        script.
                            $(`#exo_solution_toggle_#{exo._id}`).bootstrapToggle('on')
                    else
                        script.
                            $(`#exo_solution_toggle_#{exo._id}`).bootstrapToggle('off')




    script(type="text/javascript", src="scripts/chapterScript.js") 