extends htmlHeader

block content 
    
    .container-fluid.py-3
        h1.text-primary Chapitres
        hr
        each chapter in data
            .card.text-dark.bg-transparent.border-0.mb-3.w-50.mx-5.my-3(title=chapter.description, style='box-shadow: 10px 10px 17px -10px rgba(0,0,0,0.5);')
                if chapter.access
                    .card-header.text-light.rounded.py-1.px-4.d-flex.justify-content-between.align-items-center.bg-success= chapter.chapterName
                        div.d-flex.gap-2.align-items-center
                            a.link.text-light(href=`/chapter:${chapter._id}`)
                                i.bi.bi-gear-fill
                            .form-check.form-switch.m-0.py-0(class="access-input", data-chapter=`${chapter._id}`)
                                input(id=`chapter_access_toggle_${chapter._id}`, type="checkbox", value="", data-toggle="toggle", data-on="Accessible", data-off="Innaccessible", data-onstyle="success", data-offstyle="danger")
                        script.
                            $(`#chapter_access_toggle_#{chapter._id}`).bootstrapToggle('on');

                
                else
                    .card-header.text-light.rounded.py-1.px-4.d-flex.justify-content-between.align-items-center.bg-secondary= chapter.chapterName
                        div.d-flex.gap-2.align-items-center
                            a.link.text-light(href=`/chapter:${chapter._id}`)
                                i.bi.bi-gear-fill
                            .form-check.form-switch.m-0.py-0(class="access-input", data-chapter=`${chapter._id}`)
                                input(id=`chapter_access_toggle_${chapter._id}`, type="checkbox", value="", data-toggle="toggle", data-on="Accessible", data-off="Innaccessible", data-onstyle="success", data-offstyle="danger")
                        script.
                            $(`#chapter_access_toggle_#{chapter._id}`).bootstrapToggle('off');
    
    script(type="text/javascript", src="scripts/chapterAccess.js") 
    
